*{
margin: 0;
padding: 0;
font-family: arial;

}
#container{
width: 1050px;
height: 616px;
margin: 0 auto;

}
#banner{
width: 80%;
height: 180px;
margin: 0 auto;
color: #fff; 
 /* background: #000; */

}
#texto{
width: 800px;
height: 800px;
margin-top: -797px;
margin-left: 260px;
background: blue;
color: #fff;


}
#link{
width: 150px;
height: 800px;
background: red;
margin-left: 104px;
}
#footer{
width: 90.6%;
height: 50px;
margin-left: 105px;
margin-bottom: px;
border: solid;
color: red;
text-align: center ;

}

#imgbanner{
width: 100%;
height: 180px;
margin-left: 100px


}